<!DOCTYPE html>
<html lang="en">
	<head>
 
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/inlineStyles.css">
	<link rel="stylesheet" href="/assets/css/input.css">
		
	</head>
	<body style="margin: 0;">
		{{{ body }}}

		    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="/assets/js/createUB04.js"></script>
	<script src="/assets/js/updateSvc.js"></script>
	<script src="/assets/js/updateInfo.js"></script>

	
	</body>
</html>