<!DOCTYPE html>
<html lang="en">
	<head>
        {{!-- Need link for CSS file --}}
        {{!-- Need link for Bootstrap if necesarry --}}
        {{!-- Need Script link for client-side JS --}}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Patients</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>