<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="./assets/inlineStyles.css">
	<link rel="stylesheet" href="./assets/input.css">
</head>

<body style="margin: 0;">
{{body}}
</body>
</html>