<h1>Client List</h1>

<h3>Display List of Mock Patients</h3>

<ul>
  {{#each name}}
  	<li>
  	   {{!-- <p>ID: {{id}}</p> --}}
       <p>name: {{this.dataValues.FL8_b}}</p>

       <button type="button" class="goToUB04" data-id={{this.dataValues.id}}>Generate UB04</button>
  	</li>
  {{/each}}
</ul>