
#t1_3{left:64px;bottom:15px;}
#t2_3{left:118px;bottom:35px;}
#t3_3{left:686px;bottom:26px;}
#t4_3{left:64px;bottom:1134px;}
#t5_3{left:307px;bottom:1134px;}
#t6_3{left:810px;bottom:1135px;}
#t7_3{left:822px;bottom:1135px;}
#t8_3{left:819px;bottom:1129px;}
#t9_3{left:666px;bottom:1095px;}
#ta_3{left:728px;bottom:1095px;}
#tb_3{left:549px;bottom:1099px;}
#tc_3{left:471px;bottom:937px;}
#td_3{left:471px;bottom:921px;}
#te_3{left:471px;bottom:905px;}
#tf_3{left:471px;bottom:887px;}
#tg_3{left:62px;bottom:289px;}
#th_3{left:510px;bottom:256px;}
#ti_3{left:56px;bottom:859px;}
#tj_3{left:56px;bottom:843px;}
#tk_3{left:56px;bottom:827px;}
#tl_3{left:56px;bottom:811px;}
#tm_3{left:56px;bottom:795px;}
#tn_3{left:56px;bottom:779px;}
#to_3{left:56px;bottom:762px;}
#tp_3{left:56px;bottom:746px;}
#tq_3{left:56px;bottom:730px;}
#tr_3{left:55px;bottom:714px;}
#ts_3{left:55px;bottom:698px;}
#tt_3{left:55px;bottom:682px;}
#tu_3{left:55px;bottom:666px;}
#tv_3{left:55px;bottom:649px;}
#tw_3{left:55px;bottom:633px;}
#tx_3{left:55px;bottom:617px;}
#ty_3{left:55px;bottom:601px;}
#tz_3{left:55px;bottom:585px;}
#t10_3{left:55px;bottom:569px;}
#t11_3{left:55px;bottom:553px;}
#t12_3{left:55px;bottom:536px;}
#t13_3{left:55px;bottom:520px;}
#t14_3{left:55px;bottom:504px;}
#t15_3{left:859px;bottom:859px;}
#t16_3{left:859px;bottom:843px;}
#t17_3{left:859px;bottom:827px;}
#t18_3{left:859px;bottom:811px;}
#t19_3{left:859px;bottom:795px;}
#t1a_3{left:859px;bottom:779px;}
#t1b_3{left:859px;bottom:762px;}
#t1c_3{left:859px;bottom:746px;}
#t1d_3{left:859px;bottom:730px;}
#t1e_3{left:857px;bottom:714px;}
#t1f_3{left:857px;bottom:698px;}
#t1g_3{left:857px;bottom:682px;}
#t1h_3{left:857px;bottom:666px;}
#t1i_3{left:857px;bottom:649px;}
#t1j_3{left:857px;bottom:633px;}
#t1k_3{left:857px;bottom:617px;}
#t1l_3{left:857px;bottom:601px;}
#t1m_3{left:857px;bottom:585px;}
#t1n_3{left:857px;bottom:569px;}
#t1o_3{left:857px;bottom:553px;}
#t1p_3{left:857px;bottom:536px;}
#t1q_3{left:857px;bottom:520px;}
#t1r_3{left:857px;bottom:504px;}
#t1s_3{left:57px;bottom:472px;}
#t1t_3{left:57px;bottom:456px;}
#t1u_3{left:57px;bottom:440px;}
#t1v_3{left:153px;bottom:287px;}
#t1w_3{left:230px;bottom:287px;}
#t1x_3{left:307px;bottom:287px;}
#t1y_3{left:386px;bottom:287px;}
#t1z_3{left:462px;bottom:287px;}
#t20_3{left:540px;bottom:287px;}
#t21_3{left:616px;bottom:287px;}
#t22_3{left:694px;bottom:287px;}
#t23_3{left:76px;bottom:271px;}
#t24_3{left:153px;bottom:271px;}
#t25_3{left:230px;bottom:271px;}
#t26_3{left:307px;bottom:271px;}
#t27_3{left:383px;bottom:271px;}
#t28_3{left:461px;bottom:271px;}
#t29_3{left:539px;bottom:271px;}
#t2a_3{left:617px;bottom:271px;}
#t2b_3{left:693px;bottom:271px;}
#t2c_3{left:220px;bottom:253px;}
#t2d_3{left:287px;bottom:253px;}
#t2e_3{left:355px;bottom:253px;}
#t2f_3{left:530px;bottom:253px;}
#t2g_3{left:608px;bottom:253px;}
#t2h_3{left:684px;bottom:253px;}
#t2i_3{left:452px;bottom:1067px;}
#t2j_3{left:355px;bottom:1051px;}
#t2k_3{left:675px;bottom:1051px;}
#t2l_3{left:713px;bottom:1051px;}
#t2m_3{left:232px;bottom:1038px;}
#t2n_3{left:502px;bottom:1038px;}
#t2p_3{left:199px;bottom:1031px;}
#t2q_3{left:184px;bottom:1006px;}
#t2r_3{left:280px;bottom:1006px;}
#t2s_3{left:377px;bottom:1006px;}
#t2t_3{left:498px;bottom:1006px;}
#t2v_3{left:664px;bottom:1006px;}
#t2x_3{left:67px;bottom:998px;}
#code_31{left:65px;bottom:983px;}
#date_31{left:93px;bottom:983px;}
#code_32{left:160px;bottom:983px;}
#date_32{left:190px;bottom:983px;}
#code_33{left:258px;bottom:983px;}
#date_33{left:286px;bottom:983px;}
#code_34{left:355px;bottom:983px;}
#date_34{left:383px;bottom:983px;}
#code_35{left:451px;bottom:983px;}
#from_35{left:480px;bottom:983px;}
#through_35{left:548px;bottom:983px;}
#code_36{left:616px;bottom:983px;}
#from_36{left:645px;bottom:983px;}
#through_36{left:712px;bottom:983px;}
#box_37{left:780px;bottom:984px;}
#code_31b{left:65px;bottom:967px;}
#date_31b{left:93px;bottom:967px;}
#code_32b{left:160px;bottom:967px;}
#date_32b{left:190px;bottom:967px;}
#code_33b{left:258px;bottom:967px;}
#date_33b{left:286px;bottom:967px;}
#code_34b{left:355px;bottom:967px;}
#date_34b{left:383px;bottom:967px;}
#code_35b{left:451px;bottom:967px;}
#from_35b{left:480px;bottom:967px;}
#through_35b{left:548px;bottom:967px;}
#code_36b{left:616px;bottom:967px;}
#from_36b{left:645px;bottom:967px;}
#through_36b{left:712px;bottom:967px;}
#box_37b{left:780px;bottom:967.5px;}
#t2y_3{left:117px;bottom:998px;}
#t2z_3{left:162px;bottom:998px;}
#t30_3{left:260px;bottom:998px;}
#t31_3{left:356px;bottom:998px;}
#t32_3{left:408px;bottom:998px;}
#t33_3{left:453px;bottom:998px;}
#t34_3{left:730px;bottom:998px;}
#t35_3{left:518px;bottom:957px;}
#t37_3{left:645px;bottom:957px;}
#t39_3{left:771px;bottom:957px;}
#t3b_3{left:481px;bottom:950px;}
#t3c_3{left:530px;bottom:950px;}
#t3d_3{left:608px;bottom:950px;}
#t3e_3{left:656px;bottom:950px;}
#t3f_3{left:735px;bottom:950px;}
#t3g_3{left:782px;bottom:950px;}
#t3h_3{left:563px;bottom:498px;}
#box74PP{left:101px;bottom:247px;}
#t3k_3{left:211px;bottom:247px;}
#box74aOP{left:251px;bottom:247px;}
#t3n_3{left:357px;bottom:247px;}
#box74bOP{left:395px;bottom:247px;}
#t3q_3{left:616px;bottom:244px;}
#t3r_3{left:91px;bottom:240px;}
#t3s_3{left:166px;bottom:240px;}
#t3t_3{left:236px;bottom:240px;}
#t3u_3{left:311px;bottom:240px;}
#t3v_3{left:382px;bottom:240px;}
#t3w_3{left:454px;bottom:240px;}
#t3x_3{left:722px;bottom:228px;}
#t3y_3{left:65px;bottom:215px;}
#t3z_3{left:211px;bottom:215px;}
#t40_3{left:357px;bottom:215px;}
#box74eOP{left:395px;bottom:215px;}
#t43_3{left:616px;bottom:211px;}
#t44_3{left:91px;bottom:208px;}
#t45_3{left:166px;bottom:208px;}
#t46_3{left:311px;bottom:208px;}
#t47_3{left:722px;bottom:196px;}
#t48_3{left:616px;bottom:179px;}
#t49_3{left:308px;bottom:164px;}
#t4a_3{left:551px;bottom:163px;}
#t4b_3{left:722px;bottom:163px;}
#t4c_3{left:308px;bottom:148px;}
#t4d_3{left:616px;bottom:147px;}
#t4e_3{left:308px;bottom:132px;}
#t4f_3{left:551px;bottom:131px;}
#t4g_3{left:722px;bottom:131px;}
#t4h_3{left:61px;bottom:119px;}
#t4i_3{left:82px;bottom:119px;}
#t4j_3{left:782px;bottom:1103px;}
#t4k_3{left:65px;bottom:1035px;}
#t4l_3{left:150px;bottom:1035px;}
#t4m_3{left:180px;bottom:1031px;}
#t4n_3{left:239px;bottom:1031px;}
#t4o_3{left:264px;bottom:1031px;}
#t4p_3{left:296px;bottom:1031px;}
#t4q_3{left:311px;bottom:998px;}
#t4r_3{left:325px;bottom:1035px;}
#t4s_3{left:392px;bottom:1031px;}
#t4t_3{left:421px;bottom:1031px;}
#t4u_3{left:449px;bottom:1031px;}
#t4v_3{left:504px;bottom:998px;}
#t4w_3{left:479px;bottom:1031px;}
#t4x_3{left:595px;bottom:1031px;}
#t4y_3{left:508px;bottom:1031px;}
#t4z_3{left:628px;bottom:1031px;}
#t50_3{left:682px;bottom:1031px;}
#t51_3{left:538px;bottom:1031px;}
#t52_3{left:654px;bottom:1031px;}
#t53_3{left:618px;bottom:998px;}
#t54_3{left:669px;bottom:998px;}
#t55_3{left:214px;bottom:998px;}
#t56_3{left:684px;bottom:454px;}
#t57_3{left:684px;bottom:439px;}
#t59_3{left:563px;bottom:119px;}
#t5a_3{left:65px;bottom:1051px;}
#t5b_3{left:448px;bottom:491px;}
#box52info{left:433px;bottom:483px;}
#t5d_3{left:463px;bottom:484px;}
#t5e_3{left:236px;bottom:208px;}
#box74cOP{left:106px;bottom:215px;}
#t5h_3{left:565px;bottom:998px;}
#t5i_3{left:703px;bottom:1038px;}
#t5j_3{left:735px;bottom:1038px;}
#t5k_3{left:161px;bottom:1006px;}
#t5l_3{left:65px;bottom:1006px;}
#t5m_3{left:258px;bottom:1006px;}
#t5n_3{left:354px;bottom:1006px;}
#t5o_3{left:453px;bottom:1006px;}
#t5p_3{left:617px;bottom:1006px;}
#t5q_3{left:782px;bottom:1006px;}
#t5r_3{left:65px;bottom:957px;}
#t5s_3{left:481px;bottom:957px;}
#t5t_3{left:608px;bottom:957px;}
#t5u_3{left:733px;bottom:957px;}
#t5v_3{left:65px;bottom:874px;}
#t5w_3{left:74px;bottom:874px;}
#t5y_3{left:111px;bottom:874px;}
#t5z_3{left:120px;bottom:874px;}
#t61_3{left:505px;bottom:874px;}
#box45_1{left:495px;bottom:856px;}
#box45_2{left:495px;bottom:839px;}
#box45_3{left:495px;bottom:824px;}
#t64_3{left:565px;bottom:874px;}
#t68_3{left:642px;bottom:874px;}
#t6b_3{left:739px;bottom:874px;}
#t6d_3{left:834px;bottom:874px;}
#box52rel{left:430px;bottom:491px;}
#box51{left:287px;bottom:486px;}
#t6i_3{left:460px;bottom:491px;}
#t6j_3{left:481px;bottom:486px;}
#box55{left:578px;bottom:486px;}
#t6m_3{left:684px;bottom:486px;}
#t6n_3{left:684px;bottom:470px;}
#t6o_3{left:65px;bottom:421px;}
#t6p_3{left:109px;bottom:421px;}
#t6q_3{left:315px;bottom:421px;}
#box60UID{left:346px;bottom:421px;}
#box61GN{left:540px;bottom:421px;}
#box62IG{left:685px;bottom:421px;}
#box64DCN{left:365px;bottom:357px;}
#box65EN{left:618px;bottom:357px;}
#t73_3{left:63px;bottom:295px;}
#t75_3{left:772px;bottom:296px;}
#t76_3{left:65px;bottom:264px;}
#t77_3{left:74px;bottom:264px;}
#t78_3{left:173px;bottom:264px;}
#t79_3{left:511px;bottom:264px;}
#t7a_3{left:762px;bottom:264px;}
#t7b_3{left:65px;bottom:247px;}
#t7c_3{left:498px;bottom:247px;}
#t7d_3{left:551px;bottom:244px;}
#t7e_3{left:65px;bottom:180px;}
#box74dOP{left:251px;bottom:215px;}
#t7h_3{left:308px;bottom:176px;}
#t7i_3{left:551px;bottom:212px;}
#t7j_3{left:580px;bottom:212px;}
#t7k_3{left:551px;bottom:179px;}
#t7l_3{left:551px;bottom:147px;}
#t7m_3{left:297px;bottom:184px;}
#t7n_3{left:388px;bottom:498px;}
#t7o_3{left:421px;bottom:498px;}
#t7p_3{left:468px;bottom:498px;}
#t7q_3{left:549px;bottom:1135px;}
#t7r_3{left:549px;bottom:1128px;}
#t7s_3{left:568px;bottom:1128px;}
#t7t_3{left:567px;bottom:1031px;}
#t7u_3{left:549px;bottom:1119px;}
#t7v_3{left:549px;bottom:1112px;}
#t7x_3{left:353px;bottom:874px;}
#t81_3{left:113px;bottom:498px;}
#t82_3{left:185px;bottom:498px;}
#t83_3{left:200px;bottom:119px;}
#t84_3{left:820px;bottom:1051px;}
#t85_3{left:161px;bottom:1067px;}
#t86_3{left:65px;bottom:1067px;}
#t87_3{left:101px;bottom:1067px;}
#t88_3{left:65px;bottom:486px;}
#box63TAC{left:65px;bottom:357px;}
#t8d_3{left:646px;bottom:1103px;}
#t8e_3{left:664px;bottom:1103px;}
#t8f_3{left:707px;bottom:1103px;}
#t8g_3{left:737px;bottom:1103px;}
#t8h_3{left:355px;bottom:1067px;}
#t8i_3{left:392px;bottom:1067px;}
#t8j_3{left:353px;bottom:1035px;}
#t8k_3{left:707px;bottom:1031px;}
#t8l_3{left:75px;bottom:256px;}
#t8m_3{left:173px;bottom:256px;}
#t8n_3{left:424px;bottom:264px;}
#t8o_3{left:432px;bottom:256px;}
#t8p_3{left:731px;bottom:244px;}
#t8q_3{left:551px;bottom:196px;}
#t8r_3{left:551px;bottom:228px;}
#t8s_3{left:440px;bottom:118px;}
#t8t_3{left:405px;bottom:110px;}
#t8u_3{left:435px;bottom:120px;}
#t8v_3{left:86px;bottom:1006px;}
#t8w_3{left:731px;bottom:212px;}
#t8x_3{left:731px;bottom:180px;}
#t8y_3{left:731px;bottom:148px;}
#t8z_3{left:474px;bottom:112px;}
#t90_3{left:382px;bottom:208px;}
#t91_3{left:454px;bottom:208px;}
#t92_3{left:57px;bottom:407px;}
#t93_3{left:57px;bottom:391px;}
#t94_3{left:57px;bottom:375px;}
#t95_3{left:57px;bottom:343px;}
#t96_3{left:57px;bottom:327px;}
#t97_3{left:57px;bottom:310px;}
#t98_3{left:858px;bottom:472px;}
#t99_3{left:858px;bottom:456px;}
#t9a_3{left:858px;bottom:440px;}
#t9b_3{left:858px;bottom:407px;}
#t9c_3{left:858px;bottom:391px;}
#t9d_3{left:858px;bottom:375px;}
#t9e_3{left:858px;bottom:343px;}
#t9f_3{left:858px;bottom:327px;}
#t9g_3{left:858px;bottom:310px;}
#t9h_3{left:57px;bottom:987px;}
#t9i_3{left:57px;bottom:971px;}
#t9j_3{left:857px;bottom:987px;}
#t9k_3{left:857px;bottom:971px;}
#t9l_3{left:77px;bottom:1129px;}
#t9m_3{left:76px;bottom:1112px;}
#t9n_3{left:75px;bottom:1097px;}
#t9o_3{left:239px;bottom:1095px;}
#t9p_3{left:261px;bottom:1095px;}
#t9q_3{left:579px;bottom:1128px;}
#t9r_3{left:810px;bottom:1112px;}
#t9s_3{left:547px;bottom:1081px;}
#t9t_3{left:645px;bottom:1080px;}
#t9u_3{left:712px;bottom:1080px;}
#t9v_3{left:464px;bottom:1064px;}
#t9w_3{left:366px;bottom:1049px;}
#t9x_3{left:687px;bottom:1048px;}
#t9y_3{left:729px;bottom:1048px;}
#box_9e{left:830px;bottom:1048px;}
#t9z_3{left:170px;bottom:1065px;}
#ta0_3{left:78px;bottom:1048px;}
#ta1_3{left:63px;bottom:1016px;}
#ta2_3{left:180px;bottom:1016px;}
#ta3_3{left:152px;bottom:1016px;}
#ta4_3{left:240px;bottom:1016px;}
#ta5_3{left:268px;bottom:1016px;}
#ta6_3{left:296px;bottom:1016px;}
#ta7_3{left:326px;bottom:1016px;}
#ta8_3{left:355px;bottom:1016px;}
#cond_18{left:385px;bottom:1016px;}
#cond_19{left:414px;bottom:1016px;}
#cond_20{left:443px;bottom:1016px;}
#cond_21{left:471px;bottom:1016px;}
#cond_22{left:500px;bottom:1016px;}
#cond_23{left:529px;bottom:1016px;}
#cond_24{left:558px;bottom:1016px;}
#cond_25{left:588px;bottom:1016px;}
#cond_26{left:617px;bottom:1016px;}
#cond_27{left:646px;bottom:1016px;}
#cond_28{left:675px;bottom:1016px;}
#ta9_3{left:395px;bottom:1016px;}
#taa_3{left:579px;bottom:1112px;}
#tab_3{left:780px;bottom:1088px;}
#tac_3{left:794px;bottom:1051px;}
#tad_3{left:794px;bottom:1040px;}
#tag_3{left:703px;bottom:1016px;}
#tah_3{left:739px;bottom:1016px;}
#tai_3{left:70px;bottom:974px;}
#taj_3{left:85px;bottom:941px;}
#tak_3{left:85px;bottom:926px;}
#tal_3{left:85px;bottom:911px;}
#state_38{left:85px;bottom:895px;}
#tam_3{left:130px;bottom:895px;}
#tan_3{left:480px;bottom:935px;}
#tao_3{left:512px;bottom:935px;}
#code_40{left:607px;bottom:935px;}
#amount_40{left:637px;bottom:935px;}
#code_41{left:732px;bottom:935px;}
#amount_41{left:762px;bottom:935px;}
#code_39b{left:480px;bottom:919px;}
#amount_39b{left:512px;bottom:919px;}
#code_40b{left:607px;bottom:919px;}
#amount_40b{left:637px;bottom:919px;}
#code_41b{left:732px;bottom:919px;}
#amount_41b{left:762px;bottom:919px;}
#code_39c{left:480px;bottom:903px;}
#amount_39c{left:512px;bottom:903px;}
#code_40c{left:607px;bottom:903px;}
#amount_40c{left:637px;bottom:903px;}
#code_41c{left:732px;bottom:903px;}
#amount_41c{left:762px;bottom:903px;}
#code_39d{left:480px;bottom:887px;}
#amount_39d{left:512px;bottom:887px;}
#code_40d{left:607px;bottom:887px;}
#amount_40d{left:637px;bottom:887px;}
#code_41d{left:732px;bottom:887px;}
#amount_41d{left:762px;bottom:887px;}
#tap_3{left:481px;bottom:917px;}
#taq_3{left:64px;bottom:854px;}
#tar_3{left:113px;bottom:854px;}
#tas_3{left:64px;bottom:838px;}
#tat_3{left:109px;bottom:838px;}
#tau_3{left:64px;bottom:824px;}
#tav_3{left:109px;bottom:824px;}
#taw_3{left:350px;bottom:854px;}
#box44_2{left:350px;bottom:839px;}
#box44_3{left:350px;bottom:824px;}
#tax_3{left:564px;bottom:855px;}
#tay_3{left:642px;bottom:855px;}
#taz_3{left:642px;bottom:839px;}
#tb0_3{left:642px;bottom:824px;}
#tb1_3{left:833.5px;bottom:854px;}
#tb2_3{left:833.5px;bottom:840px;}
#box49_3{left:833.5px;bottom:824px;}
#tb3_3{left:740px;bottom:854px;}
#tb4_3{left:740px;bottom:839px;}
#tb5_3{left:740px;bottom:824px;}
#tb6_3{left:750px;bottom:501px;}
#tb7_3{left:654px;bottom:501px;}
#tb8_3{left:717px;bottom:484px;}
#tb9_3{left:716px;bottom:467px;}
#tba_3{left:717px;bottom:451px;}
#tbb_3{left:717px;bottom:435px;}
#tbc_3{left:580px;bottom:468px;}
#tbd_3{left:580px;bottom:452px;}
#tbe_3{left:580px;bottom:436px;}
#tbf_3{left:481px;bottom:468px;}
#tbg_3{left:481px;bottom:452px;}
#tbi_3{left:481px;bottom:436px;}
#tbj_3{left:290px;bottom:467px;}
#tbk_3{left:290px;bottom:453px;}
#tbl_3{left:290px;bottom:436px;}
#tbm_3{left:431px;bottom:468px;}
#tbn_3{left:460px;bottom:468px;}
#box52b{left:431px;bottom:453px;}
#box53b{left:460px;bottom:453px;}
#box52c{left:431px;bottom:436px;}
#box53c{left:460px;bottom:436px;}
#tbo_3{left:150px;bottom:499px;}
#tbp_3{left:213px;bottom:502px;}
#tbq_3{left:70px;bottom:467px;}
#tbr_3{left:71px;bottom:451px;}
#tbs_3{left:71px;bottom:434px;}
#tbt_3{left:318px;bottom:1129px;}
#tbu_3{left:317px;bottom:1112px;}
#tbv_3{left:315px;bottom:1097px;}
#tbw_3{left:480px;bottom:1095px;}
#zipcode_box2{left:500px;bottom:1095px;}
#tbx_3{left:71px;bottom:403px;}
#tby_3{left:71px;bottom:386px;}
#tbz_3{left:72px;bottom:371px;}
#tc0_3{left:314px;bottom:403px;}
#box59b{left:314px;bottom:387px;}
#box59c{left:314px;bottom:371px;}
#tc1_3{left:348px;bottom:402px;}
#box60b{left:348px;bottom:386px;}
#box60c{left:348px;bottom:371px;}
#tc2_3{left:543px;bottom:402px;}
#box61b{left:543px;bottom:386px;}
#box61c{left:543px;bottom:371px;}
#tc3_3{left:693px;bottom:402px;}
#box62b{left:693px;bottom:386px;}
#box62c{left:693px;bottom:371px;}
#tc4_3{left:626px;bottom:337px;}
#box65b{left:626px;bottom:322px;}
#box65c{left:626px;bottom:307px;}
#tc5_3{left:377px;bottom:337px;}
#box64b{left:377px;bottom:322px;}
#box64c{left:377px;bottom:307px;}
#tc6_3{left:75px;bottom:337px;}
#tc7_3{left:73px;bottom:322px;}
#tc8_3{left:74px;bottom:306px;}
#tc9_3{left:75px;bottom:291px;}
#tca_3{left:103px;bottom:258px;}
#tcb_3{left:62px;bottom:273px;}
#tcd_3{left:782px;bottom:289px;}
#box68under{left:781px;bottom:274px;}
#tce_3{left:772px;bottom:257px;}
#tcj_3{left:630px;bottom:241px;}
#tck_3{left:751px;bottom:241px;}
#box76num{left:771px;bottom:241px;}
#tcl_3{left:499px;bottom:228px;}
#tcm_3{left:571px;bottom:225px;}
#tcn_3{left:741px;bottom:225px;}
#box77npi{left:630px;bottom:210px;}
#box77qual{left:751px;bottom:210px;}
#box77num{left:771px;bottom:210px;}
#box77last{left:571px;bottom:193px;}
#box77first{left:741px;bottom:193px;}
#box78npi{left:630px;bottom:177px;}
#box78other{left:598px;bottom:177px;}
#box78qual{left:751px;bottom:177px;}
#box78num{left:771px;bottom:177px;}
#box78last{left:571px;bottom:161px;}
#box78first{left:741px;bottom:161px;}
#box79npi{left:630px;bottom:145px;}
#box79other{left:598px;bottom:145px;}
#box79qual{left:751px;bottom:145px;}
#box79num{left:771px;bottom:145px;}
#box79last{left:571px;bottom:129px;}
#box79first{left:741px;bottom:129px;}
#tco_3{left:63px;bottom:225px;}
#tcp_3{left:142px;bottom:225px;}
#code74a{left:210px;bottom:225px;}
#date74a{left:288px;bottom:225px;}
#code74b{left:355px;bottom:225px;}
#date74b{left:432px;bottom:225px;}
#code74c{left:63px;bottom:193px;}
#date74c{left:142px;bottom:193px;}
#code74d{left:210px;bottom:193px;}
#date74d{left:288px;bottom:193px;}
#code74e{left:355px;bottom:193px;}
#date74e{left:432px;bottom:193px;}
#tcq_3{left:73px;bottom:161px;}
#tcr_3{left:73px;bottom:145px;}
#box80d{left:73px;bottom:128px;}
#tcs_3{left:316px;bottom:177px;}
#tct_3{left:335px;bottom:177px;}
#box81aThree{left:435px;bottom:177px;}
#box81bOne{left:316px;bottom:161px;}
#box81bTwo{left:335px;bottom:161px;}
#box81bThree{left:435px;bottom:161px;}
#box81cOne{left:316px;bottom:146px;}
#box81cTwo{left:335px;bottom:146px;}
#box81cThree{left:435px;bottom:146px;}
#box81dOne{left:316px;bottom:130px;}
#box81dTwo{left:335px;bottom:130px;}
#box81dThree{left:435px;bottom:130px;}
#tcu_3{left:465px;bottom:257px;}
#tcv_3{left:564px;bottom:838px;}
#box46_3{left:564px;bottom:824px;}
#tcw_3{left:402px;bottom:1144px;}
#tcx_3{left:280px;bottom:70px;}
#tcy_3{left:420px;bottom:70px;}

/* new empty tags */
#box42_4{left:64px;bottom:807px;}
#box43_4{left:109px;bottom:807px;}
#box44_4{left:350px;bottom:807px;}
#box45_4{left:495px;bottom:807px;}
#box46_4{left:564px;bottom:807px;}
#box47_4{left:642px;bottom:807px;}
#box48_4{left:740px;bottom:807px;}
#box49_4{left:833.5px;bottom:807px;}
#box42_5{left:64px;bottom:790px;}
#box43_5{left:109px;bottom:790px;}
#box44_5{left:350px;bottom:790px;}
#box45_5{left:495px;bottom:790px;}
#box46_5{left:564px;bottom:790px;}
#box47_5{left:642px;bottom:790px;}
#box48_5{left:740px;bottom:790px;}
#box49_5{left:833.5px;bottom:790px;}
#box42_6{left:64px;bottom:773px;}
#box43_6{left:109px;bottom:773px;}
#box44_6{left:350px;bottom:773px;}
#box45_6{left:495px;bottom:775px;}
#box46_6{left:564px;bottom:773px;}
#box47_6{left:642px;bottom:773px;}
#box48_6{left:740px;bottom:773px;}
#box49_6{left:833.5px;bottom:773px;}
#box42_7{left:64px;bottom:756px;}
#box43_7{left:109px;bottom:756px;}
#box44_7{left:350px;bottom:756px;}
#box45_7{left:495px;bottom:758px;}
#box46_7{left:564px;bottom:756px;}
#box47_7{left:642px;bottom:756px;}
#box48_7{left:740px;bottom:756px;}
#box49_7{left:833.5px;bottom:756px;}
#box42_8{left:64px;bottom:742px;}
#box43_8{left:109px;bottom:742px;}
#box44_8{left:350px;bottom:742px;}
#box45_8{left:495px;bottom:742px;}
#box46_8{left:564px;bottom:742px;}
#box47_8{left:642px;bottom:742px;}
#box48_8{left:740px;bottom:742px;}
#box49_8{left:833.5px;bottom:742px;}
#box42_9{left:64px;bottom:725px;}
#box43_9{left:109px;bottom:725px;}
#box44_9{left:350px;bottom:725px;}
#box45_9{left:495px;bottom:727px;}
#box46_9{left:564px;bottom:725px;}
#box47_9{left:642px;bottom:725px;}
#box48_9{left:740px;bottom:725px;}
#box49_9{left:833.5px;bottom:725px;}
#box42_10{left:64px;bottom:710px;}
#box43_10{left:109px;bottom:710px;}
#box44_10{left:350px;bottom:710px;}
#box45_10{left:495px;bottom:712px;}
#box46_10{left:564px;bottom:710px;}
#box47_10{left:642px;bottom:710px;}
#box48_10{left:740px;bottom:710px;}
#box49_10{left:833.5px;bottom:710px;}
#box42_11{left:64px;bottom:693px;}
#box43_11{left:109px;bottom:693px;}
#box44_11{left:350px;bottom:693px;}
#box45_11{left:495px;bottom:695px;}
#box46_11{left:564px;bottom:693px;}
#box47_11{left:642px;bottom:693px;}
#box48_11{left:740px;bottom:693px;}
#box49_11{left:833.5px;bottom:693px;}
#box42_12{left:64px;bottom:676px;}
#box43_12{left:109px;bottom:676px;}
#box44_12{left:350px;bottom:676px;}
#box45_12{left:495px;bottom:678px;}
#box46_12{left:564px;bottom:676px;}
#box47_12{left:642px;bottom:676px;}
#box48_12{left:740px;bottom:676px;}
#box49_12{left:833.5px;bottom:676px;}
#box42_13{left:64px;bottom:659px;}
#box43_13{left:109px;bottom:659px;}
#box44_13{left:350px;bottom:659px;}
#box45_13{left:495px;bottom:661px;}
#box46_13{left:564px;bottom:659px;}
#box47_13{left:642px;bottom:659px;}
#box48_13{left:740px;bottom:659px;}
#box49_13{left:833.5px;bottom:659px;}
#box42_14{left:64px;bottom:644px;}
#box43_14{left:109px;bottom:644px;}
#box44_14{left:350px;bottom:644px;}
#box45_14{left:495px;bottom:646px;}
#box46_14{left:564px;bottom:644px;}
#box47_14{left:642px;bottom:644px;}
#box48_14{left:740px;bottom:644px;}
#box49_14{left:833.5px;bottom:644px;}
#box42_15{left:64px;bottom:628px;}
#box43_15{left:109px;bottom:628px;}
#box44_15{left:350px;bottom:628px;}
#box45_15{left:495px;bottom:630px;}
#box46_15{left:564px;bottom:628px;}
#box47_15{left:642px;bottom:628px;}
#box48_15{left:740px;bottom:628px;}
#box49_15{left:833.5px;bottom:628px;}
#box42_16{left:64px;bottom:612px;}
#box43_16{left:109px;bottom:612px;}
#box44_16{left:350px;bottom:612px;}
#box45_16{left:495px;bottom:614px;}
#box46_16{left:564px;bottom:612px;}
#box47_16{left:642px;bottom:612px;}
#box48_16{left:740px;bottom:612px;}
#box49_16{left:833.5px;bottom:612px;}
#box42_17{left:64px;bottom:595px;}
#box43_17{left:109px;bottom:595px;}
#box44_17{left:350px;bottom:595px;}
#box45_17{left:495px;bottom:597px;}
#box46_17{left:564px;bottom:595px;}
#box47_17{left:642px;bottom:595px;}
#box48_17{left:740px;bottom:595px;}
#box49_17{left:833.5px;bottom:595px;}
#box42_18{left:64px;bottom:580px;}
#box43_18{left:109px;bottom:580px;}
#box44_18{left:350px;bottom:580px;}
#box45_18{left:495px;bottom:582px;}
#box46_18{left:564px;bottom:580px;}
#box47_18{left:642px;bottom:580px;}
#box48_18{left:740px;bottom:580px;}
#box49_18{left:833.5px;bottom:580px;}
#box42_19{left:64px;bottom:563px;}
#box43_19{left:109px;bottom:563px;}
#box44_19{left:350px;bottom:563px;}
#box45_19{left:495px;bottom:565px;}
#box46_19{left:564px;bottom:563px;}
#box47_19{left:642px;bottom:563px;}
#box48_19{left:740px;bottom:563px;}
#box49_19{left:833.5px;bottom:563px;}
#box42_20{left:64px;bottom:548px;}
#box43_20{left:109px;bottom:548px;}
#box44_20{left:350px;bottom:548px;}
#box45_20{left:495px;bottom:550px;}
#box46_20{left:564px;bottom:548px;}
#box47_20{left:642px;bottom:548px;}
#box48_20{left:740px;bottom:548px;}
#box49_20{left:833.5px;bottom:548px;}
#box42_21{left:64px;bottom:531px;}
#box43_21{left:109px;bottom:531px;}
#box44_21{left:350px;bottom:531px;}
#box45_21{left:495px;bottom:533px;}
#box46_21{left:564px;bottom:531px;}
#box47_21{left:642px;bottom:531px;}
#box48_21{left:740px;bottom:531px;}
#box49_21{left:833.5px;bottom:531px;}
#box42_22{left:64px;bottom:516px;}
#box43_22{left:109px;bottom:516px;}
#box44_22{left:350px;bottom:516px;}
#box45_22{left:495px;bottom:518px;}
#box46_22{left:564px;bottom:516px;}
#box47_22{left:642px;bottom:516px;}
#box48_22{left:740px;bottom:516px;}
#box49_22{left:833.5px;bottom:516px;}
#boxcreateDate{left:495px;bottom:502px;}


.s1_3{font-size:55px;font-family:FuturaStd-Bold_2a;color:#93A289;}
.s2_3{font-size:15px;font-family:Futura-Bold_2b;color:#231F20;}
.s3_3{font-size:14px;font-family:Futura-Bold_2b;color:#231F20;}
.s4_3{font-size:7px;font-family:sub_Helvetica_lsr;color:#231F20;}
.s5_3{font-size:7px;font-family:sub_Helvetica_lsr;color:#FFF;}
.s6_3{font-size:9px;font-family:sub_Helvetica_lsr;color:#231F20;}
.s7_3{font-size:5px;font-family:sub_Helvetica-Bold_lsb;color:#231F20;}
.s8_3{font-size:19px;font-family:sub_Helvetica-Bold_lsb;color:#E7E8E8;}
.s9_3{font-size:12px;font-family:sub_Arial-BoldItalicMT_lsbi;color:#FFF;}
.sa_3{font-size:5px;font-family:sub_Helvetica_lsr;color:#231F20;}
.sb_3{font-size:6px;font-family:sub_Helvetica_lsr;color:#231F20;}
.sc_3{font-size:12px;font-family:sub_Arial-BoldItalicMT_lsbi;color:#231F20;}
.sd_3{font-size:4px;font-family:sub_Helvetica_lsr;color:#231F20;}
.se_3{font-size:10px;font-family:Century-Bold_o;color:#231F20;}
.sf_3{font-size:3px;font-family:Helvetica-Condensed_-;color:#231F20;}
.sg_3{font-size:11px;font-family:ComicSansMS_e;color:#EF3222;}
.sh_3{font-size:11px;font-family:ComicSansMS_e;color:#231F20;}
.si_3{font-size:9px;font-family:ComicSansMS_e;color:#231F20;}
.sj_3{font-size:12px;font-family:ComicSansMS_e;color:#231F20;}
.sk_3{font-size:24px;font-family:Futura-Bold_2b;color:#231F20;}
.sl_3{font-size:15px;font-family:Futura_h;color:#EF3222;}
.sm_3{font-size:15px;font-family:Futura_h;color:#231F20;}
.t.v0_3{transform:scaleX(0.869);}
.t.v1_3{transform:scaleX(0.909);}
