input[type=text]
{
    height: 10px;
    border: 0;
    font-size:8px;
    width:200px;
}
input.greyBckg {
    /* background-color:#E7E8E8; */
    background-color: rgb(252, 204, 199);
}
input.redFont {
    color: red;
}
input.width11_5 {
    width: 11.5px;
    padding-bottom: 0;
    margin-left: 0;
}
input.width150 {
    width: 150px;
}
input.width30 {
    width: 30px;
    padding-bottom: 0;
    margin-left: 0;
}
input.width35 {
    width: 35px;
    padding-bottom: 0;
    margin-left: 0;
}
input.width170 {
    width:170px;
}
input.width370 {
    width:370px;
}
input.width89 {
    width:89px;
}
input.width60 {
    width:60px;
}
input.width70 {
    width: 70px;
}
input.width18 {
    width: 18px;
}
input.width79 {
    width: 79px;
}
input.width49 {
    width: 49px;
}
input.width100 {
    width: 100px;
}
input.drawBorders {
    border: 0.3px solid !important;
}
input.width25 {
    width: 25px;
}
input.width155 {
    width: 155px;
}
input.width85 {
    width: 85px;
}
input.width130 {
    width: 130px;
}
input.width13{
    width:13px;
}
input.width22{
    width:22px;
}
input.width6{
    width:6px;
}
input.width40{
    width:40px;
}
input.page {
    font-size: 12px;
    font-family:sub_Arial-BoldItalicMT_lsbi;
}